<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>ram</servlet-name>
        <servlet-class>ram</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Studentregistration</servlet-name>
        <servlet-class>Studentregistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adminregistration</servlet-name>
        <servlet-class>Adminregistration</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Book</servlet-name>
        <servlet-class>Book</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Publisher</servlet-name>
        <servlet-class>Publisher</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Issue</servlet-name>
        <servlet-class>Issue</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Books</servlet-name>
        <servlet-class>Books</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Adminlogin</servlet-name>
        <servlet-class>Adminlogin</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Return</servlet-name>
        <servlet-class>Return</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Publishers</servlet-name>
        <servlet-class>Publishers</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>forgotpassword</servlet-name>
        <servlet-class>forgotpassword</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Remarks</servlet-name>
        <servlet-class>Remarks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Viewsremarks</servlet-name>
        <servlet-class>Viewsremarks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Viewremarks</servlet-name>
        <servlet-class>Viewremarks</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Search</servlet-name>
        <servlet-class>Search</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>ram</servlet-name>
        <url-pattern>/ram</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Studentregistration</servlet-name>
        <url-pattern>/Studentregistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adminregistration</servlet-name>
        <url-pattern>/Adminregistration</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Book</servlet-name>
        <url-pattern>/Book</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Publisher</servlet-name>
        <url-pattern>/Publisher</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Issue</servlet-name>
        <url-pattern>/Issue</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Books</servlet-name>
        <url-pattern>/Books</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Adminlogin</servlet-name>
        <url-pattern>/adminlogin</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Return</servlet-name>
        <url-pattern>/Return</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Publishers</servlet-name>
        <url-pattern>/Publishers</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>forgotpassword</servlet-name>
        <url-pattern>/forgotpassword</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Remarks</servlet-name>
        <url-pattern>/Remarks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Viewsremarks</servlet-name>
        <url-pattern>/Viewsremarks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Viewremarks</servlet-name>
        <url-pattern>/Viewremarks</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Search</servlet-name>
        <url-pattern>/Search</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
